/* Main Container*/
.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem;
  min-height: 95vh;
}
/* Title */
.account-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.8rem;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* TABS */
.account-tabs {
  display: flex;
  gap: 6rem;
  margin-right: 1.2rem;
  margin-bottom: 1.5rem;
}

.account-tabs button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #666;
  cursor: pointer;
  padding-bottom: 0.5rem;
  transition: color 0.3s, border-bottom 0.3s;
}

.account-tabs button.active {
  color: #111;
  border-bottom: 0.8px solid #111;
}

/* Content (FORMS) */
.account-content {
  padding: 2rem;
  margin-top: -1rem;
  margin-right: 4.2rem;
  width: 300px;
}

.account-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.account-form input {
  padding: 0.9rem;
  border: 1px 0 0 0 solid #e5e7eb;
  font-size: 0.95rem;
  transition: border 0.2s, box-shadow 0.2s;
}

.account-form input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #1b6572;
}

.account-form button {
  padding: 0.9rem;
  border: none;
  font-size: 1rem;
  background: #114f5a;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.account-form button:hover {
  background: #1b6572;
}
