.home {
  min-height: 95vh; /* full screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  text-align: center;
  margin-bottom: 7rem;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 8rem;
  width: 80%;
  max-width: 1000px;
}

.photo-grid img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 4px 16px #114f5a;
}
