.navbar {
  display: flex;
  justify-content: space-between; /* space between logo and links */
  align-items: center;
  padding: 0.2rem 3rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 100px;
  width: auto;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 11rem;
}

.nav-links li {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  color: #040404;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #114f5a;
}
