.navbar {
  display: flex;
  justify-content: space-between; /* space between logo and links */
  align-items: center;
  padding: 0.2rem 3rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 0.4px solid #e5e7eb;
}

.logo img {
  height: 110px;
  width: auto;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10.5rem;
}

.nav-links li {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  color: #040404;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #114f5a;
}
